In [2]:
import pandas as pd
import numpy as np

# Epsilon Greedy

## Data Base

In [7]:
data = pd.read_csv('../Data/dataset_1000_minimum_reviews.csv', index_col='Unnamed: 0')
data.head()

,user_id,movie_id,rating,genre,age,time,binary_rating
0,1107,1961,5,Drama,50,0,1
1,1545,1259,3,Adventure|Comedy|Drama,25,1,0
2,3304,595,5,Animation|Children's|Musical,45,2,1
3,5448,260,4,Action|Adventure|Fantasy|Sci-Fi,45,3,0
4,3829,1784,2,Comedy|Drama,25,4,0

In our case, only 4 features are useful : "time", "movie_id", "user_id" and "binary_rating".

In [15]:
df = data[['time', 'movie_id', 'user_id', 'binary_rating']]
df.head()

   time  movie_id  user_id  binary_rating
0     0      1961     1107              1
1     1      1259     1545              0
2     2       595     3304              1
3     3       260     5448              0
4     4      1784     3829              0

## Epsilon Greedy Algorithm

We will first define our Algorithm of interest, the principle is simple, we are trying to determine which